# Konfigurasi Server
NODE_ENV=development
PORT=3333

# Konfigurasi Logging (info, warn, error, debug)
LOG_LEVEL=info

# ---------------------------------------------
# CI/CD & OBSERVABILITY
# ---------------------------------------------
# Webhook URL dari Channel Discord untuk menerima log error dan peringatan
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
